body{
  font-family: 'Source Code Pro', monospace;
  background:#2D2D2D
}
.row,.column{
  display:flex;
}

.column{
  flex-direction: column 
}

.align-middle{
  align-items:center
}

.material-icons{
  margin:2px;
}

.side{
  background:#00B3A6;
  padding:15px;
  width:320px;
}

a{
  color:black;
  text-shadow:1px 1px 3px rgba(0,0,0,.3);
}

.header{
  font-family: 'Saira', sans-serif;
  background:#FF5500;
  margin:-10px 0 0 -15px;
  font-size:2em;
  width:100%;
  padding:20px 15px;
  border:10px solid #2D2D2D;
}

h4{
  color:#4AFFF2;
  font-size:120%;
  padding:4px 5px;
  font-weight:500;
}

.resume>p{
  word-spacing:5px;
  color:#D8D8D8;
  margin:0 14px;
}

.resume a{
  color:white;
}

#lightgallery>a{
  width:256px;
  height:256px;
  overflow:hidden;
  display:block;
  margin:10px;
}

#lightgallery img{
  max-width:100%;
}

#lightgallery{
  margin:10px;
  flex-wrap:wrap;
  justify-content: space-around;
}

h1{
  color:white;
  text-align:center;
}
