body{
	font-family: 'Exo', sans-serif;
	background: #444;
	color:#efefef;
}

.box{
	background:black;
	border-radius:3px;
	padding:1px 15px 5px;
	margin:10px 0;
	box-shadow:1px 1px 5px rgba(0,0,0,.5);
}

.box>h2{
	padding:0;
	margin:15px 0px;
}

ul{
	list-style-type:none;
	display:block;
	margin:0;
	padding:2px;
}

ul>li{
	display:inline-block;
	margin:1px 4px;
	border-radius:5px;
	background:hsl(10,80%,50%);
	padding:1px 3px;
}

.mid{
	background:hsl(130,80%,30%);
}

.low{
	background:hsl(250,80%,40%)
}

a{
	color:hsl(10,90%,60%)
}